@import "tailwindcss";

:root {
  --primary-light-color: rgb(207, 165, 165);
  --main-light-bg-color: rgb(138, 138, 138);
  --darck-text-color: rgb(26, 26, 26);
  --light-text-color: rgb(243, 243, 243);
}

/* Estilos globales base */
html,
body {
  background: var(--main-light-bg-color);
}
