@import "tailwindcss";

:root {
  --primary-light-color: rgb(207, 165, 165);
  --main-light-bg-color: rgb(138, 138, 138);
}

/* Estilos globales base */
html,
body {
  background: var(--main-light-bg-color);
}
